@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Merriweather+Sans:wght@600&family=Mulish:wght@400;800&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Share Styles */
* {
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.h3-style {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.p-style {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}

/* NavBar Styles */
.nav-section {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}

.section-container {
    min-height: 20px;
    display: flex;
    align-items: center;
    width: 50%;
    gap: 15px;
}

.section-img {
    width: 70px;
}

.section-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;

}

.items-container {
    min-height: 20px;
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-ul {
    display: flex;
}

.bar-nav {
    display: none;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-size: 1.125rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.Orange-colour {
    color: #FF5400;
}

/* Header Styles */
.banner {
    margin: auto;
    width: 90%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 500px;
    border-radius: 16px;
    max-width: 1250px;
    margin: 0 auto;

}

.banner-container {
    width: 80%;
    margin: auto;
    align-content: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.banner-title {
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 105px;
}

.banner-para {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 675px;
}

.banner-input {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input-field {
    border-radius: 8px;
    background: #FFF;
    width: 154px;
    height: 42px;
    text-align: start;
    border: none;
}

.input-btn {
    border-radius: 8px;
    background: #FF5400;
    width: 154px;
    height: 42px;
    color: #FFF;
    font-size: 1rem;
    border: none;
}

/* Our Popular Tours Section */
.popular-tours-section {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    gap: 50px;
}

.popular-tour-info {
    align-items: center;
    width: 50%;
}

.popular-tours-section h3 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.popular-tours-section p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-top: 5px;
}

.popular-tour-img {
    padding-top: 40px;
    padding-right: 20px;
    width: 50%;
    height: 550px;
    border-radius: 16px;

}

.btn-read {
    margin-top: 20px;
}

/* Choose Your Destination */
.choose-destination-section {
    max-width: 1250px;
    /* margin: 0 auto;
    padding-top: 50px;  */
    width: 100%;
    margin: auto;
    align-content: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.choose-destination-info {
    text-align: center;

}

.choose-destination-section h3 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.choose-destination-section p {
    color: rgba(19, 19, 24, 0.70);
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 400;
    width: 700px;
    margin-left: 290px;

}

.choose-destination-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    gap: 25px;
}

.choose-destination-image {
    position: relative;
    text-align: center;
}

.middle-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: 800;
}

/* Why choose us section */
.why-us-section {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
}

.choose-us-para {
    margin-left: 643px;

}

.why-us-card {
    display: flex;
    gap: 25px;
}

.handpicked-hotel {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 40px;
}

.world-class-service {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 40px;
}

.best-price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 40px;
    margin-top: 25px;
    width: 50%;

}

.gurantee-div {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.why-us-title {
    color: #131318;
    font-size: 1.5;
    font-weight: 800;
}

.why-us-para {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

/* Newsletter Section */
.newsletter-section {
    display: flex;
    gap: 25px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-container {
    width: 400px;
    height: 358px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin-left: 140px;
    padding: 45px;
}

.form-input-text {
    display: block;
}

.newsletter-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-para {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.newsletter-img {
    height: 100%;
}

.news-input-field {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
    height: 52px;
    border: none;
    margin-top: 20px;
    padding-left: 20px;
}

.newsletter-btn {
    border-radius: 8px;
    background: #FF5400;
    color: white;
    width: 415px;
    height: 52px;
    border: none;
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 1.05rem;
    font-weight: 800;
}

.saveup-section {
    position: relative;
    border-radius: 16px;
    left: 0px;
    top: 280px;
    left: -312px;
    text-align: center;
}

.saveup-inner {
    position: absolute;
    width: 324px;
    height: 120px;
    background: #FF5400;
    border-radius: 16px;
    transform: rotate(-19.628deg);
    padding-top: 2px;
}

.travel-para {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.travel-title {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 10px;
}

/* Footer Section */
footer {
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 502px;
    text-align: center;
    padding-top: 110px;
}

.footer-title {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 20px;
    gap: 15px;
}

.footer-name {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.Orange-colour-name {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
}

.footer-para {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.social-links {
    margin: auto;
    width: 100%;
    justify-content: center;
    gap: 20px;
    display: flex;
    margin-top: 35px;
}

hr {
    background: rgba(19, 19, 24, 0.10);
    width: 1220px;
    height: 1px;
    border: none;
    margin-top: 50px;
}

.rights-section {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    margin-top: 50px;

}

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    .section-title {
        font-size: 21px;
        font-style: normal;
        font-weight: 800;
        display: flex;
        gap: 10px;
    }

    .items-container {
        display: none;
    }

    .bar-nav {
        min-height: 20px;
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: flex-end;
    }

    .banner-container {
        width: 100%;
    }

    .banner-title {
        font-size: 22px;
        font-weight: 800;
    }

    .banner-para {
        font-size: 10px;
        font-weight: 500;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        margin-bottom: 10px;
    }

    .banner-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 255px;
        height: 210px;
        margin-left: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .input-field {
        border-radius: 8px;
        padding: 5px;
        margin-top: 5px;
        width: 245px;
        height: 40px;
    }

    .input-btn {
        margin-top: 5px;
        width: 250px;
        height: 40px;
    }

    .popular-tours-section {
        display: block;
    }

    .popular-tour-info {
        align-items: center;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .popular-tour-img {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .choose-destination-section p {
        color: rgba(19, 19, 24, 0.70);
        /* text-align: center; */
        font-size: 1rem;
        font-weight: 400;
        width: 400px;
        margin-left: 10px;
        text-align: center;

    }

    .choose-destination-container {
        width: 100%;
        display: block;
        /* flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center; */
        gap: 30px;
        padding: 20px;
    }

    .choose-destination-image {
        width: 100%;
    }
}