@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Merriweather+Sans:wght@600&family=Mulish:wght@400;800&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Share Styles */
* {
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.h3-style {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.p-style {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}

/* NavBar Styles */
.nav-section {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}

.section-container {
    min-height: 20px;
    display: flex;
    align-items: center;
    width: 50%;
    gap: 15px;
}

.section-img {
    width: 70px;
}

.section-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;

}

.items-container {
    min-height: 20px;
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-size: 1.125rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.Orange-colour {
    color: #FF5400;
}

/* Header Styles */
.banner {
    margin: auto;
    width: 90%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 500px;
    border-radius: 16px;
    max-width: 1250px;
    margin: 0 auto;

}

.banner-container {
    width: 80%;
    margin: auto;
    align-content: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.banner-title {
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 105px;
}

.banner-para {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 675px;
}

.banner-input {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input-field {
    border-radius: 8px;
    background: #FFF;
    width: 154px;
    height: 42px;
    text-align: start;
    border: none;
}

.input-btn {
    border-radius: 8px;
    background: #FF5400;
    width: 154px;
    height: 42px;
    color: #FFF;
    font-size: 1rem;
    border: none;
}

/* Our Popular Tours Section */
.popular-tours-section {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    gap: 50px;
}

.popular-tour-info {
    align-items: center;
    width: 50%;
}

.popular-tours-section h3 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.popular-tours-section p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-top: 5px;
}

.popular-tour-img {
    padding-top: 40px;
    padding-right: 20px;
    width: 50%;
    height: 550px;
    border-radius: 16px;

}

.btn-read {
    margin-top: 20px;
}

/* Choose Your Destination */
.choose-destination-section {
    max-width: 1250px;
    /* margin: 0 auto;
    padding-top: 50px;  */
    width: 100%;
    margin: auto;
    align-content: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.choose-destination-info {
    text-align: center;

}

.choose-destination-section h3 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.choose-destination-section p {
    color: rgba(19, 19, 24, 0.70);
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 400;
    width: 700px;
    margin-left: 290px;

}

.choose-destination-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    gap: 25px;
}

.choose-destination-image {
    position: relative;
    text-align: center;
}

.middle-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: 800;
}

/* Why choose us section */
.why-us-section {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
}

.choose-us-para {
    margin-left: 643px;

}

.why-us-card {
    display: flex;
    gap: 25px;
}

.handpicked-hotel {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 40px;
}

.world-class-service {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 40px;
}

.best-price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 40px;
    margin-top: 25px;
    width: 50%;

}

.gurantee-div {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.why-us-title {
    color: #131318;
    font-size: 1.5;
    font-weight: 800;
}

.why-us-para {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}